* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
p {
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.spacer {
  margin-top: 80px;
  margin-bottom: 80px;
}
.spacerTop {
  margin-top: 80px;
}
.spacerBottom {
  margin-bottom: 80px;
}
.container {
  /* width: 1140px; */
  margin: auto;
}
/* start sub header */

.main_header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 25px;
}
.icon {
  color: #c14679;
  font-size: 38px;
}
.main_text {
  display: flex;
}
.sub_text {
  margin-left: 10px;
}
.sub_header_button {
  /* background-color: #ffc800; */
  border: 3px solid #c14679;
  border-radius: 4px;
  color: black !important;
  font-size: 15px;
  padding: 12px 30px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  letter-spacing: 1px;
  height: 50px;
  width: 200px;
  /* margin: 14px 96px; */
}
.sub_header_btn {
  /* background-color: #ffc800; */
  border: 3px solid #c14679;
  border-radius: 4px;
  color: black !important;
  font-size: 15px;
  padding: 12px 20px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  letter-spacing: 1px;

  /* margin: 14px 96px; */
}
.sub_header_btn a:hover {
  background-color: #c14679;
  border-radius: 1px;
  color: #fff;
}
a {
  color: black;
  text-decoration: none;
}
.icon1 {
  margin-right: 5px;
  color: #c14679;
}

.main_menu li {
  display: inline-block;
  position: relative;
}
.main_menu li a {
  color: black;
  font-weight: 400;
  padding: 15px 30px;
  display: block;
}
.main_menu li:hover > a {
  background-color: #c14679;
  border-radius: 1px;
  color: #fff;
}
.header_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sticky {
 
    position: sticky;
    top: 0;
}

/* End sub header */
/* start main header */

/* End main header */
/* start offers */
.h1_offers {
  margin-bottom: 50px;
}
.sub_header_offers {
  border: 2px solid #c14679;
  border-radius: 4px;
  color: black !important;
  font-size: 15px;
  padding: 10px 5px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 25px;
}
/* end offers */
/* start new product */
.product {
  position: relative;
  text-align: center;
  padding: 20px 15px 30px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.product-title {
  margin-top: 25px;
  margin-bottom: 20px;
}
.product-figure {
  margin-top: 20px;
  padding: 20px 20px;
}
a :hover {
  color: black;
  text-decoration: none;
}
/* end new product */
/* start offer */
.offers {
  display: flex;
}
.parallax_content {
  position: absolute;
  top: 430%;
  left: 50px;
}
.color_pink {
  color: #c14679;
}
.sub_header_shop {
  background-color: #c14679;
  border: 3px solid #c14679;
  border-radius: 4px;
  color: black !important;
  font-size: 15px;
  padding: 12px 10px;
  width: 130px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  z-index: 999;
  letter-spacing: 1px;
  margin-top: 20px;
}
.color_pink {
  margin-bottom: 20px;
}
/* End offer */
/* start about us */
.about_text {
  margin-bottom: 50px;
}
.main_aboutus {
  display: flex;
  justify-content: space-between;
}
.about_con {
  letter-spacing: 2px;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
  font-weight: 600;
  margin: 80px 80px;
}
.about_text2 {
  font-size: 16px;
  text-align: start;
  margin-top: 20px;
  font-weight: 400;
  margin-top: 60px;
}
.read_more {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  margin-top: 30px;
}
.sub_header_shop2 {
  background-color: #c14679;
  border: 3px solid #c14679;
  border-radius: 4px;
  color: black !important;
  font-size: 15px;
  padding: 12px 10px;
  width: 130px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  z-index: 999;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: auto;
  margin-bottom: 40px;
}
/* ens about us */
/* our team */
.main_team {
  display: flex;
  justify-content: space-evenly;
}
.sub_team {
  padding: 30px;
}
.img_team {
  border: 20px solid #ffffff;
  border-radius: 50%;
}
.icon_team {
  text-align: center;
}
/* end our team */
/* grid page */
.grid_text {
  position: absolute;
  top: 60%;
  left: 40%;
  color: #fff;
  font-size: 50px;
}
